[submodule "tools/Projects"]
	path = tools/Projects
	url = https://github.com/gabonator/Projects
[submodule "tools/masm2c"]
	path = tools/masm2c
	url = https://github.com/xor2003/masm2c
[submodule "src/dunerevival"]
	path = src/dunerevival
	url = https://github.com/sonicpp/dunerevival-code
[submodule "tools/scummvm-cryo"]
	path = tools/scummvm-cryo
	url = https://github.com/elyosh/scummvm-cryo
[submodule "tools/dunerevival-code"]
	path = tools/dunerevival-code
	url = https://github.com/sonicpp/dunerevival-code
